
.bg-body-tertiary
{
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cc
{
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.yes
{
    font-size: 30px;
}